/* PREPARING */

/* HEADER */
/* 1300px */
@media (max-width: 1300px) {
    .header__number {
        margin: 0 0 0 40px;
    }
}

@media (max-width: 1300px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}

@media (max-width: 1300px) {
    .header__sign {
        margin: 0 0 0 80px;
    }
}

/* 1200px */
@media (max-width: 1200px) {
    .header__container {
        padding: 0 0 0 15px;
    }
}

@media (max-width: 1200px) {
    .header__sign img {
        padding: 0 30px 0 0;
    }
}

/* 1024px */
@media (max-width: 1024px) {
    .header__sign {
        margin: 0px 0px 0px 80px;
    }
}

@media (max-width: 1024px) {
    .header__menu {
        margin: 0 0 0 57px;
    }
}

/* 992px */
@media (max-width: 992px) {
    .header__num {
        display: none;
    }
}

/* 768px */
@media (max-width: 768px) {
    .header__menu {
        margin: 0 0 0 40px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {
    .header__number img {
        margin: 0 7px 0 0;
    }
}

@media (max-width: 767px) {
    .header__number {
        display: none;
    }
}

/*479px */
@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 35px;
    }
}

@media (max-width: 479px) {
    .header__container {
        min-height: 110px;
    }
}

@media (max-width: 479px) {
    .header__sign {
        display: none;
    }
}

@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 60px;
    }
}

/* 375px */
@media (max-width: 375px) {
    .main-block__button {
        padding: 32px 0 70px 2%;
    }
}

@media (max-width: 375px) {
    .header__menu {
        margin: 0 0 0 30px;
    }
}

/* 320px */
@media (max-width: 320px) {
    .header__menu {
        margin: 0 0 0 35px;
    }
}

@media (max-width: 320px) {
    .header__logo {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .menu__item:not(:last-child) {
        margin: 0 20px 0 0;
    }
}

/* MAIN_BLOCK */
/* 1200px */
@media (max-width: 1200px) {
    .main-block__body {
        padding: 206px 15px 0 15px;
    }
}

@media (max-width: 1200px) {
    .main-block__border {
        height: 80px;
    }
}

@media (max-width: 1200px) {
    .main-block__border img {
        padding: 15px;
    }
}

/*992px */
@media (max-width: 992px) {
    .main-block__title {
        width: 668px;
        font-size: 80px;
    }
}

/* 479px */
@media (max-width: 479px) {
    .main-block__body {
        padding: 150px 15px 0 15px;
    }
}

@media (max-width: 479px) {
    .main-block__title {
        width: 100%;
        font-size: 50px;
        line-height: 80px;
    }
}

@media (max-width: 479px) {
    .main-block__button {
        padding: 42px 0 100px 2%;
    }
}

@media (max-width: 479px) {
    .main-block__border {
        height: 60px;
    }
}

@media (max-width: 479px) {
    .main-block__border img {
        padding: 5px;
    }
}

/* OUR-FUTURE-BLOCK */
/* 1200px */
@media (max-width: 1200px) {
    .future-block__body {
        grid-template-columns: 70%;
        grid-template-rows: 1fr 774px;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .future-block__text {
        max-width: 626px;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .future-block__image {
        /* margin: 60px 0 0 0; */
        height: 95vh;
        width: 60vw;
    }
}

/* SERVICES-BLOCK */
/* 1200px */
@media(max-width:1200px) {
    .services-block__cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1rf;
        grid-column-gap: 100px;
    }
}

@media(max-width:1200px) {
    .services-block__cards {
        grid-row-gap: 80px;
        width: 60%;
        margin: 0 auto;
    }
}

/* 768px */
@media (max-width:768px) {
    .page__services-block {
        padding: 100px 0 150px 0;
    }
}

@media (max-width:768px) {
    .services-block__main-text {
        width: 60%;
    }
}

@media(max-width:768px) {
    .services-block__cards {
        grid-row-gap: 50px;
        grid-template-columns: 1fr;
    }
}


@media(max-width:768px) {
    .services-block__text {
        margin: 0 auto 30px auto;
    }
}

@media(max-width:768px) {
    .card__title {
        margin: 5px 0 0 0;
    }
}

@media(max-width:768px) {
    .card__desc {
        margin: 10px 0 0 0;
    }
}

/* NEWSLETTER-BLOCK */
/* 1200px */
@media (max-width: 1200px) {
    .newsletter-block__quote {
        grid-template-areas:
            'main-text main-text'
            'btn1 btn2';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .quote__text {
        margin: 0 auto;
    }
}

@media (max-width: 1200px) {
    .quote__left-arrow {
        grid-area: btn1;
        margin: 0 5% 0 0;
    }
}

@media (max-width: 1200px) {
    .quote__right-arrow {
        grid-area: btn2;
        margin: 0 0 0 5%;
    }
}

@media (max-width: 1200px) {
    .quote__text {
        grid-area: main-text;
        text-align: center;
    }
}

/* 1024px */
@media (max-width: 1200px) {
    .images__faces {
        height: 280px;
    }
}

/* 992px */
@media (max-width: 992px) {
    .quote__text {
        font-size: 30px;
    }
}

/* 770px */
@media (max-width: 770px) {
    .quote__text {
        font-size: 26px;
        width: 80%;
    }
}

@media (max-width: 770px) {
    .images__faces {
        height: 220px;
    }
}

/* 630px */
@media (max-width: 768px) {
    .quote__text {
        font-size: 22px;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .newsletter-block__quote {
        margin: 35px 0 0 0;
        height: 250px;
    }
}

@media (max-width: 768px) {
    .newsletter-block__subtitle {
        margin: 20px 0 120px 0;
    }
}

/* 425px */
@media (max-width: 425px) {
    .newsletter-block__quote {
        height: 180px;
    }
}

@media (max-width: 425px) {
    .quote__text {
        font-size: 18px;
        line-height: 30px;
    }
}

@media (max-width: 425px) {
    .images__faces {
        height: 100px;
    }
}

@media (max-width: 425px) {
    .images__ellipse_woman {
        width: 60%;
        height: 200%;
    }
}

@media (max-width: 425px) {
    .images__ellipse_symbol {
        width: 15%;
        height: 30%;
    }
}

@media (max-width: 425px) {
    .newsletter-block__subtitle {
        font-size: 16px;
    }
}

/* newsletter-block__email-block */
/* 768px */
@media (max-width: 768px) {
    .newsletter-block__email-block {
        margin: 0 0 100px 0;
    }
}

@media (max-width: 768px) {
    .text__titile {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .mail-button__btn-arrow {
        margin: 0 0 0 58px;
    }
}

/* 600px */
@media (max-width: 600px) {
    .mail-button__btn-arrow {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 600px) {
    .text__titile {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .text__subtitle {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .mail-button__input {
        font-size: 14px;
    }
}

/* 425px */
@media (max-width: 425px) {
    .text__titile {
        font-size: 22px;

    }
}

@media (max-width: 425px) {
    .newsletter-block__subtitle {
        margin: 0 0 70px 0;
    }
}

@media (max-width: 425px) {
    .text__subtitle {
        font-size: 14px;
        margin: 0 0 25px 0;
    }
}

@media (max-width: 425px) {
    .email-block__button {
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    .mail-button__input {
        margin: 0 auto;
        width: 160px;
    }
}

@media (max-width: 425px) {
    .mail-button__btn-arrow {
        margin: 0;
        justify-content: center;
    }
}

/* FOOTER */
/* 1200px */
@media (max-width: 1200px) {
    .footer__body {
        padding: 80px 0;
    }
}

@media (max-width: 1200px) {
    .footer__nav {
        grid-template-columns: 1fr 0.8fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
    }
}

@media (max-width: 1200px) {
    .footer__nav__menu {
        margin: 0;
        width: 0;
    }
}

@media (max-width: 1200px) {
    .footer__nav__services {
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .footer__nav__contact-us {
        width: 170px;
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .footer__nav__follow-us {
        width: 160px;
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .list__ul_lol img {
        margin: 0 0 10px 0;
    }
}
/* 1000px */
@media (max-width: 1000px) {
    .footer__text {
        padding: 0 0 0 15px;
    }
}

/* 992px */
@media (max-width: 992px) {
    .footer__body {
        padding: 40px 0;
    }
}

@media (max-width: 992px) {
    .footer__Footnote {
        font-weight: 400;
        font-size: 11.7px;
        line-height: 19px;
        margin: 30px 0 0 290px;
    }
}

/* 768px */
@media (max-width: 768px) {
    .footer__nav {
        grid-template-areas:
            'main-text nav-menu services'
            'main-text contact-us follow-us';
        grid-template-rows: 1fr 0.7fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .footer__title {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .footer__desc {
        font-size: 14px;
        margin: 5px 0 0 0;
    }
}

@media (max-width: 768px) {
    .footer__text {
        grid-area: main-text;
        width: 130px;
        padding: 0 0 0 15px
    }
}

@media (max-width: 768px) {
    .footer__nav__menu {
        width: 80px;
    }
}

@media (max-width: 768px) {
    .footer__nav__contact-us {
        margin-top: 30px;
        grid-area: contact-us;
    }
}

@media (max-width: 768px) {
    .footer__nav__follow-us {
        margin-top: 30px;
        width: 140px;
        grid-area: follow-us;
    }
}
/* 500px */
@media (max-width: 500px) {
    .footer__nav {
        grid-column-gap: 10px;
    }
}

/* 425px */
@media (max-width: 425px) {
    .footer__nav {
        grid-template-areas:
            'main-text main-text'
            'nav-menu services'
            'contact-us follow-us';
        grid-template-rows: 1fr 1.8fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 425px) {
    .footer__text {
        grid-area: main-text;
        height: 100px;
        width: 250px;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .footer__title {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .footer__nav__menu {
        grid-area: nav-menu;
    }
}

@media (max-width: 425px) {
    .list__title>span {
        padding: 0 0 5px 0;
    }
}

@media (max-width: 425px) {
    .list__parts {
        margin: 10px 0 0 0;
    }
}

@media (max-width: 425px) {
    .list__ul li {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .list__li a {
        line-height: 25px;
    }
}

@media (max-width: 425px) {
    h1.list__title {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .footer__nav__menu {
        height: 200px;
    }
}

@media (max-width: 425px) {
    .footer__nav__services {
        grid-area: services;
    }
}

@media (max-width: 425px) {
    .footer__nav__contact-us {
        grid-area: contact-us;
    }
}

@media (max-width: 425px) {
    .footer__nav__follow-us {
        grid-area: follow-us;
    }
}

@media (max-width: 425px) {
    .footer__Footnote {
        margin: 15px 0 0 0;
        text-align: center;
    }
}

/* 320px */
@media (max-width: 425px) {
    .footer__nav {
        grid-gap: 0 0;
    }
}

@media (max-width: 425px) {
    .list__link-contact {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .list__link-contact {
        font-size: 16px;
        
    }
}